@page
@model SculptGL.IndexModel
@{
    ViewData["Title"] = "Project";
}

<main role="main" class="pb-3">
    <div id="toolbar">

    </div>
    <canvas role="application" id="application">

    </canvas>
</main>